* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

logo {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
}

.logo {
  height: 32px;
  background-size: cover;
  background-position: center;
  width: 228px;
}

.header__logo {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  margin: 0;
  padding: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 1;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  height: 64px;
  bottom: 30px;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  margin-left: 64px;
  margin-bottom: 30px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  display: contents;
  position: absolute;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  position: absolute;
}

.technics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 10px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.digits_section-title {
  margin: 10px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.digits_section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.description {
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 0;
}

.two-columns__brief {
  font-size: 18px;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-bottom: 100px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-weight: bold;
  font-size: 24px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
}

.two-columns__paragraph-2 {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.digits__section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
}

.digits__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 36px auto 0;
  align-items: flex-start;
}

.columns {
  display: flex;
  line-height: 20px;
  flex-wrap: wrap;
  width: 250px;
  margin: 10px;
  align-items: flex-start;
}

.table__cell {
  flex-wrap: wrap;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  font-weight: bold;
}

.feinman {
  /*display: flex;*/
  position: relative;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  height: 790px;
  background-position: left bottom;
  background-color: #f2f2f2;
  padding-top: 1px;
  z-index: -1;
}

.feinman__title {
  width: 648px;
  margin: 100px auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 90px;
}

.feinman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  top: 50%;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  align-items: flex-start;
  align-content: space-between;
  z-index: 0;
  margin-bottom: 90px;
}

.section_title_theme_dark {
  color: white;
  width: 60%;
  margin-top: 90px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section_subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  color: white;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  font-size: 24px;
  font-weight: bold;
}

.kaufman_triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  right: -210px;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 100px;
}

.resources__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-bottom: 80px;
  text-align: center;
}

.logo-zone {
  display: flex;
  justify-content: center;
  width: 1100px;
  margin-bottom: 217px;
}

.resources__image {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer__logo {
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
  z-index: 1;
  display: flex;
}

.footer__columns-info {
  display: flex;
  flex-direction: column;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  padding: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: flex-start;
  min-width: 710px;
}

.footer__column {
  min-height: 252px;
}

.footer__column-copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-social-icon {
  font-weight: bold;
  position: relative;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.column__links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 5px;
}

.footer__column-social {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

