.page {
	min-width: 1100px;
	max-width: 1600px;
	margin: 0 auto;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
	display: flex;
	height: 100vh;
	min-height: 600px;
	max-height: 756px;
	position: relative;
	background-color: #f2f2f2;
	align-items: center;
	overflow: hidden;
}

.logo {
	height: 32px;
	background-size: cover;
	background-position: center;
	width: 228px;
}

.logo__place_header {
	position: absolute;
	background-image: url(../images/logo_place_header.svg);
	background-repeat: no-repeat;
	top: 30px;
	left: 64px;
	z-index: 1;
}

.header__title {
	margin: 0;
	padding: 0;
	max-width: 730px;
	line-height: 96px;
	font-size: 102px;
	font-weight: 700;
	z-index: 2;
	margin-left: 64px;
}

.header__subtitle {
	margin: 0;
	position: absolute;
	max-width: 388px;
	bottom: 30px;
	line-height: 25px;
	font-weight: normal;
	font-size: 18px;
	left: 64px;
	z-index: 2;
}

.header__link {
	text-decoration: none;
	display: contents;
	color: #2f80ed;
}

.header__main-illustration {
	width: 765px;
	height: 608px;
	background-image: url(../images/header-image.png);
	position: absolute;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.header__square-pic {
	height: 568px;
	width: 568px;
	background-color: #2f80ed;
	right: 0;
	top: 64px;
	position: absolute;
}

.technics {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-title {
	margin: 0;
	text-align: center;
	width: 60%;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 20px;
}

.section-subtitle {
	margin: 0;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	width: 60%;
	text-align: center;
}

.description {
	padding-top: 100px;
}

.two-columns {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto 0;
}

.two-columns__brief {
	margin: 0;
	font-size: 18px;
	color: #2f80ed;
	width: 175px;
	line-height: 1.2;
	font-weight: normal;
}

.two-columns__main-text {
	width: 80%;
	min-width: 784px;
}

.two-columns__span-accent {
	line-height: 34px;
	font-weight: bold;
	font-size: 24px;
}

.two-columns__paragraph {
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 30px;
	margin: 0;
}

.two-columns__main-text :last-child {
	padding-bottom: 0;
}

.digits {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 100px auto 100px;
}

.table {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1100px;
	margin: 0 auto 0;
	align-items: flex-start;
}

.table__cell {
	display: flex;
	line-height: 20px;
	width: 250px;
	align-items: flex-start;
	flex-wrap: wrap;
}

.table__text {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	margin-top: 20px;
}

.table__heading {
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 0;
}

.feynman {
	position: relative;
	align-items: center;
	background-image: url(../images/feynman.png);
	background-repeat: no-repeat;
	background-size: 867px 637px;
	min-height: 890px;
	background-position: left bottom;
	background-color: #f2f2f2;
}

.feynman__title {
	max-width: 648px;
	margin: 0 auto 70px;
	text-align: center;
	line-height: 1.15;
	font-size: 120px;
	padding: 100px 0 0;
	font-weight: bold;
}

.feynman__subtitle {
	text-align: center;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	margin: 0;
}

.feynman__link {
	position: absolute;
	top: 50%;
	right: 48px;
	line-height: 51px;
	font-size: 36px;
	color: #2f80ed;
	text-decoration: none;
	font-weight: normal;
}

.kaufman {
	background-color: #1f1f1f;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.table_theme_dark {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1100px;
	align-items: flex-start;
	align-content: space-between;
	z-index: 0;
	margin-bottom: 90px;
}

.section-title_theme_dark {
	color: white;
	width: 60%;
	margin-top: 90px;
	margin-bottom: 20px;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

.section-subtitle_theme_dark {
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	width: 60%;
	color: white;
}

.table__heading_theme_dark {
	margin-top: 80px;
	margin-bottom: 0;
}

.table__text_theme_dark {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.table__cell_theme_dark {
	width: 200px;
	color: white;
	margin-right: 0;
	font-size: 24px;
	font-weight: bold;
}

.kaufman__triangle {
	background-image: url(../images/kaufman-triangle.svg);
	background-size: contain;
	width: 877px;
	height: 877px;
	right: -210px;
	position: absolute;
	top: 0px;
	z-index: -1;
}

.footer {
	display: flex;
	background-color: #1f1f1f;
	min-height: 350px;
	padding: 60px 0 40px;
	box-sizing: border-box;
	justify-content: space-between;
}

.footer__columns {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 90%;
	margin: 0 auto;
}

.footer__column_content_copyright {
	display: flex;
	flex-basis: 711px;
	flex-direction: column;
	justify-content: space-between;
}

.logo__place_footer {
	background-image: url(../images/logo_place_footer.svg);
	width: 228px;
	height: 32px;
	z-index: 1;
	display: flex;
}

.footer__author {
	line-height: 25px;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	padding: 18px 0;
	margin: 0;
}

.footer__column_content_info {
	display: flex;
	flex-direction: column;
}

.footer__column-heading {
	line-height: 30px;
	font-size: 18px;
	color: #fff;
	margin: 0;
	font-weight: bold;
}

.footer__column-links {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 16px;
}

.footer__column-link {
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

.footer__column_content_social {
	display: flex;
	flex-direction: column;
}

.footer__social-icon {
	margin-right: 10px;
	width: 16px;
	height: 16px;
}
